
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 50px 240px;
    background-color: rgba(255, 216, 14, 0.1);
}
/* shared styles */
.margin-right{
    margin-right: 40px;
}
.btn{
    padding: 21px 25px;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #ff900e;
}
.text-light-gray{
    color: #727272;
}
.text-gray{
    color: #424242;
}
.display-flex{
    display: flex;
}
/* navbar realted styles */
.navbar{
    justify-content: space-between;
    margin-bottom: 102px;
    
}
.nav-link{
    text-decoration: none;
    font-size:1rem;
}
.nav-item{
    
    
    list-style: none;
    
    

}
.nav-title{
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}
/* banner related styles */
.banner-image{
    width: 100%;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 33px;
}
.banner-description{
    line-height: 26px;
    margin-bottom: 33px;
}
.banner-contant{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
}
.btn-primary{
    margin-bottom: 50px;
}






