@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 
  

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}









/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    

   
    
    
}

.brand{
    font-weight: 700;
    font-size: 3rem;
    
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 102px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 20px;
}
.banner-description{
    line-height: 26px;
    margin-bottom: 26px;
}

.banner-image{
    width: 100%;
}
/* main , section-- team-container realated styles */
main{
    max-width: 1140px;
    margin: 0 auto;

}
.team-container{
    align-items: center;
    gap: 73px;
    margin-top: 85px;
    margin-bottom: 130px;

    
}
.our-features{
    max-width: 537px;
    
}
.teams-image{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.guick-list{
    font-size: 2.81rem;
    margin-bottom: 24px;
}
.of{
    color: black;
    font-weight: bold;
}
.f{
    color: rgba(255, 144, 14, 1);
    font-size: bold;
}
.p{
    line-height: 26px;
    margin-bottom: 32px;
}
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links{
        flex-direction: column;
    }

.team-container {
    flex-direction: column;
}
.teams-image {
    
    grid-template-columns: repeat(1, 1fr);
}
    
}

