@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 
  

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
/* header */
.header{
    margin-bottom: 85px;
}
/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    

   
    
    
}

.brand{
    font-weight: 700;
    font-size: 3rem;
    
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 102px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 20px;
}
.banner-description{
    line-height: 26px;
    margin-bottom: 26px;
}

.banner-image{
    width: 100%;
}

.team-container{
    align-items: center;
    gap: 73px;
    margin-top: 100px;
  
    max-width: 1140px;
    margin: 0 auto;

    
}
.our-features{
    max-width: 537px;
    
}
.teams-image{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.guick-list{
    font-size: 2.81rem;
    margin-bottom: 24px;
}
.of{
    color: black;
    font-weight: bold;
}
.f{
    color: rgba(255, 144, 14, 1);
    font-size: bold;
}
.p{
    line-height: 26px;
    margin-bottom: 32px;
}
/* features section styles */
.features{
    gap: 146px;
    max-width: 1370px;
    margin: 0 auto;
    margin-top: 130px;
}
.Features-div1{
    max-width: 800px;
    

}
.Features-div1 h3{
    font-size: 2.4rem;
    font-family: bold;
    margin-bottom: 24px;
    
}
.Features-div1 p{
    margin-bottom: 30px;
}
.Features-div1 p , .Dexktop-card p , .Drag-card p, .Awesome-card p, .Super-card p{
   line-height: 26px;
   font-size: 0.7rem;
    
}
 .Dexktop-card h1 , .Drag-card h1, .Awesome-card h1, .Super-card h1{
   font-size: 1.2rem;
   font-weight: 600;
    
}
 .Dexktop-card, .Drag-card,.Awesome-card,.Super-card{
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}

 .section-image {
    max-width: 708px;
 } 
 .speacial-btn{
    color: white;
    padding: 45px 42px;
    background-color:rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    margin-left: -92px;
    margin-top: -130px;
 } 
 .year{
    font-size: 4rem;
    font-weight: bold;

 }
 .exper{
    font-size: 1.56rem;
    font-weight: 600;

 }

@media screen and (max-width:576px) {
    .navbar, 
    .nav-links , .team-container,.features{
        flex-direction: column;
    }

.teams-image {
    
    grid-template-columns: repeat(1, 1fr);
}
.section-image img {
    width: 100%;
    
}
.speacial-btn {
   
    margin-left: 0px;
    margin-top: 10px;
}
   
}

